<h1>new de websites</h1>
  <%= render 'shared/tooltip' %>
<div class="builder-wrapper">
  <div class="builder-website">
    <%= render 'shared/panel' %>
  </div>
  <%= render 'shared/toolbar' %>
</div>

