<!-- Condition statement upon templates choice -->
<!-- Fix the CSS classes variables upon templates choice -->
<% title @website.url %>

<div class="website-template-container">
  <% case @website.template.name %>
  <% when 'north' %>
    <%= render 'templates/template_north' %>
  <% when 'south' %>
    <%= render 'templates/template_south' %>
  <% when 'west' %>
    <%= render 'templates/template_west' %>
  <% when 'east' %>
    <%= render 'templates/template_east' %>
  <% end %>
</div>
