<div class="tooltip-container tooltip-welcome">
  <div class="tooltip-content">
    <div class="tooltip-head">
      <div class="tootip-title">Welcome on Hop</div>
      <span class="cross-icon">&#10005;</span>
    </div>
    <div class="tooltip-text">Create your website in few minutes. Thanks to our unique guided process!</div>
  </div>
</div>
