<div class="tooltip-container tooltip-navigate">
  <div class="tooltip-content">
    <div class="tooltip-head">
      <div class="tootip-title">Follow the steps</div>
      <span class="cross-icon">&#10005;</span>
    </div>
    <div class="tooltip-text"> Use the right panel to perform actions. The bottom navigation bar shows you where you are in the building process.</div>
  </div>
</div>
