<div class="tooltip-container tooltip-navigate">
  <div class="tooltip-content">
    <div class="tooltip-head">
      <i></i>
      <div class="tootip-title">Follow the steps</div>
      <i class="fa fa-times cross-icon" aria-hidden="true"></i>
    </div>
    <div class="tooltip-text">The bottom navigation bar shows you where you are in the building process</div>
    <!-- <i class="fa fa-arrow-down left" aria-hidden="true"></i> -->
  </div>
</div>
