<div class="tooltip-container tooltip-welcome">
  <div class="tooltip-content">
    <div class="tooltip-head">
      <div class="tootip-title">Bienvenue sur votre nouveau site Web</div>
      <span class="cross-icon">&#10005;</span>
    </div>
    <div class="tooltip-text">Choisissez comment organiser votre page, son thème de couleur, son nom de domaine et créez votre site en quelques minutes !</div>
  </div>
</div>
