<div class="tooltip-box-position">
  <div class="tooltip-box">
    <div class="tooltip-head">
      <i class="fa fa-info-circle tooltip-info fa-fw"></i>
      <div class="tootip-title">Navigate !</div>
      <i class="fa fa-window-close fa-fw" aria-hidden="true"></i>
    </div>
    <div class="tooltip-text">Use the bottom<strong> navigation bar</strong> where i can give you <strong>informations</strong> and help you going on through each steps !</div>
    <i class="fa fa-arrow-down right" aria-hidden="true"></i>

  </div>
</div>
