<div class="tooltip-container tooltip-welcome">
  <div class="tooltip-content">
    <div class="tooltip-head">
      <i class="fa fa-info-circle tooltip-info fa-fw"></i>
      <div class="tootip-title">Welcome on HOP EDIT!</div>
      <i class="fa fa-window-close fa-fw cross-icon" aria-hidden="true"></i>
    </div>
    <div class="tooltip-text">Here is your<strong> TOOLTIP</strong> to see what action you can perform. You can close<strong> tooltips</strong> clicking the up cross</div>
  </div>
</div>
