.container-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5E1DA;
  opacity: 0.85;
  min-width: 70%;
  max-width: 70%;

  @media(max-width: 768px) {
    width: 100%;
  }

  .profile {
    margin: 0 auto;
    text-align:center;
    padding: 30px;

    .profile-losange {
      margin: 0 auto;
      transform-origin: 50% 50%;
      overflow: hidden;
      width: 100px;
      height: 100px;
      transform: rotate(45deg) translateY(10px);

      &:hover {
        border: 1px solid $primary;
      }

      .image-rotate {
        width: 355px;
        height: 355px;
        transform: rotate(-45deg) translateY(-74px);
      }
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 90%;
    max-width: 90%;
    border-top: 1px solid $light-green;
    border-bottom: 1px solid $light-green;
    padding-botton: 10px;

    &:hover {
      color: #fff;
      background: $light-green;
    }
  }

  .social {
    margin: 0 auto;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      width: 45px;
      height: 45px;
      margin: 0 6px;
      text-align: center;
      display: inline-block;
      color: $light-green;
      border: 1px solid $light-green;
      border-radius: 2px;
      transform: rotate(45deg);
      line-height: 45px;
      transition: all 500ms ease;

      &:hover{
        color: #fff;
        background: $light-green;
      }

      i {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

