.builder-wrapper {
  background: AliceBlue;
  height: 100vh;

  .builder-website {
    height: calc(100vh - 70px);
    width: 100%;
    overflow: auto;

      .template-flex {
        bottom: 70px;
      }
  }

  .toolbar {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}

