.builder-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  .builder-website {
    height: calc(100vh - 70px);
    overflow: auto;
    position: relative;
    width: 100%;

    @media (min-width: 480px) {
      width: 70%;
    }
  }

  .toolbar {
    width: 100%;
  }
}
