<div class="banner">
  <div class="banner-content">
    <h1>Hop your website without technical skills</h1>
    <p class="intro">The easiest way to create your online presence for free, in few minutes.</p>
    <% if current_user %>
      <%= button_to 'Start building', websites_path, class: 'button' %>
    <% else %>
      <%= link_to 'Start building', new_user_session_path, class: 'button' %>
    <% end %>
  </div>
</div>
