<div class="navbar-home">
  <%= link_to '#' do %>
    <%= image_tag 'logo-white' %>
  <% end %>

  <ul>
    <li><%= link_to 'Log in', '#', class: 'link' %></li>
    <li><%= link_to 'Dashboard', '#', class: 'link' %></li>
  </ul>
</div>
