<div class="panel">

  <%= simple_form_for @website, url: website_path(@website),remote: true, html: { class: 'template-form' } do |f| %>
    <!-- display name by default -->
    <%= f.input :template_id, collection: @templates, as: :radio_buttons, label: 'Select your template'%>
    <%= f.button :submit, class: 'button btn-block', value: 'Save template' %>
  <% end %>

</div>
