<div class="tooltip-box-position">
  <div class="tooltip-box">
    <div class="tooltip-head">
      <i class="fa fa-info-circle tooltip-info fa-1x"></i>
      <div class="tootip-title">Here i give you help !</div>
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
    <div class="tooltip-text">This is the <strong>Tooltip</strong> where i can give you <strong>informations</strong> and help you going on ! I have a relative position so devs can targeting me on elements screen</div>
  </div>
</div>

