<div class="toolbar">
  <%= button_to 'Home', root_path, method: :get, class: 'btn-gray' %>
  <ul class="toolbar-menu">
    <li class="toolbar-menu-item toolbar-menu-item-active"><%= link_to 'Style', '#' %></li>
    <span>&gt;</span>
    <li class="toolbar-menu-item"><%= link_to 'Edit', '#' %></li>
    <span>&gt;</span>
    <li class="toolbar-menu-item"><%= link_to 'Publish', '#' %></li>
  </ul>
</div>
