// temporary cards simulate templates for home
.card {
  position: relative;
  text-align: center;
  height: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba($black, 0.3);
  background-size: cover !important;
}



