form {
  label {
    color: $white;
    font-weight: lighter;
  }
  input:focus {
    outline: none !important;
  }
  &.template-form {

    label[for=website_background_image], label[for=website_profile_image] {
      width: 100%;
      &::after {
        border: 1px solid $green;
        border-radius: 4px;
        content: 'Select a file from your computer';
        display: block;
        margin-top: 5px;
        padding: 10px 50px;
        text-align: center;
      }
      &:hover {
        cursor: pointer;
      }
    }

    input[name='website[background_image]'], input[name='website[profile_image]'] {
      display: none;
    }

    .radio label {
      border: 1px solid $green;
      border-radius: 4px;
      margin: 5px 0;
      padding: 10px 20px 10px 40px;
      width: 100%;
    }
  }
}
