form {

  h3 {
    color: $white;
    font-weight: lighter;
    margin-top: 0;
  }

  label {
    color: $white;
    font-weight: lighter;
  }

  input:focus {
    outline: none !important;
  }

  &.template-form {

    label[for=website_background_image], label[for=website_profile_image] {
      width: 100%;
      &::after {
        border: 1px solid $green;
        border-radius: 4px;
        content: 'Select a file from your device';
        display: block;
        margin-top: 5px;
        padding: 10px 50px;
        text-align: center;
      }
      &:hover {
        cursor: pointer;
      }
    }

    input[name='website[background_image]'], input[name='website[profile_image]'] {
      display: none;
    }
    .radio label {
      border: 1px solid $green;
      border-radius: 4px;
      margin: 5px 0;
      padding: 10px 20px 10px 40px;
      width: 100%;
    }
  }
}
.result {
  border-top: 1px solid $light-gray;
  display: none;
  margin: 25px 0;
  padding: 25px 0;

  .link {
    display: block;
    margin: 0 0 25px 0;
    text-align: center;
    width: 100%;

    &.facebook-link {
      background: #3B5998;
      &:hover {
        background: darken(#3B5998, 10%) !important;
      }
    }

    &.twitter-link {
      background: #1DA1F2;
      &:hover {
        background: darken(#1DA1F2, 10%) !important;
      }
    }
  }
}
