.tooltip-container {
  position: absolute;
  box-shadow: 1px 1px 1px 0px rgba($black, 0.4);
  background-color: $black;
  color: $white;
  border-radius: 3px;
  width: 280px;

  padding: 3px;
  z-index: 1;

  .tooltip-content {
  position: relative;
  padding: 5px;

    .tooltip-head {
      display: flex;
      padding: 3px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px $primary solid;
      padding-bottom: 5px;

      .cross-icon {
        font-size: 1.5em;
        &:hover {
          cursor: pointer;
        }
      }

      .tootip-title {
        font-family: Rajdhani;
        font-size: 20px;
      }
    }

    .tooltip-text {
      font-family: Oxygen;
      font-size: 16px;
      font-weight: lighter;
      margin: 8px;
      &.tooltip-text i {
        margin-left: 10px;
      }
    }

    .right {
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
  &.tooltip-navigate {
    bottom: 80px;
    left: 400px;
    opacity: 0;
    transition: 1000ms ease;
    &.tooltip-navigate-open {
      opacity: 100;
    }
    @media(max-width: 768px) {
      display: none;
      }
  }

  &.tooltip-welcome {
    top: 180px;
    left: 10px;
    transform: translateX(-200%);
    transition: 1200ms ease transform 1s;
    &.tooltip-welcome-open {
      transform: translateX(0);
    }
    @media(max-width: 768px) {
      display: none;
    }
  }
}

