  <div id="team"></div>
  <div class="wrapper text-center margin-top-bottom-100px">
    <div class="employee-container website-background">
      <h2>Service</h2>
      <p class="margin-top-bottom-50px">MihiVai intègre une équipe de collaborateurs avec des <b>profils pluridisciplinaires</b> tels que des développeurs, designers et des enseignants-chercheurs.</p>
      <div class="employee">
        <img class="img-thumbnail margin-left-right-40px" src="images/team/jonathan.jpg" alt="">
        <div class="employee-content text-justify">
          <h3>Acceuil</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, modi vero debitis, animi quidem adipisci est maiores sapiente doloribus quo, dolores quaerat recusandae corporis perspiciatis cumque distinctio incidunt id, possimus!</p>
        </div>
      </div>
      <hr>
      <div class="employee">
        <div class="employee-content text-justify">
          <h3>Activité</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus perferendis ratione minima, laudantium, inventore sint, eveniet rerum, tenetur veniam sit odit reprehenderit. Maxime aliquid, natus similique! Tempora non obcaecati adipisci!</p>
        </div>
        <img class="img-thumbnail margin-left-right-40px" src="images/team/claudine.png" alt="">
      </div>
      <hr>
      <div class="employee">
        <img class="img-thumbnail margin-left-right-40px" src="images/team/nathan.jpg" alt="">
        <div class="employee-content text-justify">
          <h3>Guide touristique</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolore unde hic cumque, nemo, placeat tenetur ipsum qui asperiores eligendi in labore facilis, eos aliquam excepturi! Id, facilis at eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem, amet eaque, illum facilis explicabo culpa eum obcaecati impedit assumenda nulla vero officia. Eum est hic doloribus quos quibusdam at.</p>
        </div>
      </div>
      <hr>
      <div class="employee">
        <div class="employee-content text-justify">
          <h3>Petit déjeuner</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus optio harum dolor debitis. Libero ducimus, doloremque ex, esse deleniti id corrupti iure tempora fuga! Ducimus nesciunt iste id corporis eligendi!</p>
        </div>
        <img class="img-thumbnail margin-left-right-40px" src="images/team/isabelle.jpg" alt="">
      </div>
    </div>
  </div>
